@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

@layer components {
  .main_container {
    @apply p-6 bg-white rounded-xl border border-neutral-200 shadow-xs;
  }
  .priority_tag {
    @apply px-2 py-1 border rounded-full uppercase text-xs font-semibold tracking-wider;
  }
  .arrow_back {
    @apply px-3 py-1 inline-block bg-neutral-100 text-neutral-700 rounded-lg border border-neutral-200 hover:bg-neutral-200 transition-colors;
  }
  .form_title {
    @apply text-lg font-medium;
  }
  .input_control {
    @apply w-full px-4 py-2 rounded-lg border border-neutral-300 focus:outline-none focus:ring-2 focus:ring-teal-500;
  }
  .form_btn {
    @apply px-6 py-2 bg-teal-600 text-white rounded-lg font-medium cursor-pointer hover:bg-teal-700 transition-colors w-full sm:w-1/6 flex justify-center items-center disabled:opacity-70 disabled:cursor-not-allowed;
  }
  .btn {
    @apply px-4 py-2 rounded-md flex items-center justify-center gap-2 font-medium transition-colors sm:w-fit w-full;
  }
}
